#include "totem.dtsi"

&kscan0 {
    col-gpios = <&xiao_d 4 GPIO_ACTIVE_HIGH>,
                <&xiao_d 5 GPIO_ACTIVE_HIGH>,
                <&xiao_d 10 GPIO_ACTIVE_HIGH>,
                <&xiao_d 9 GPIO_ACTIVE_HIGH>,
                <&xiao_d 8 GPIO_ACTIVE_HIGH>;
};

&gpio0 {
    status = "okay";
};

&led_strip {
    status = "okay";
};

/ {
    led_strip: led_strip0 {
        compatible = "zmk,led-strip-bitbang";
        label = "LED_STRIP";
        io-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        chain-length = <1>;
        color-order = "GRB";
        color-mapping = <0 1 2>;
        status = "okay";
    };
};
